body {
    font-family: "Lato", serif;
    background-color: aquamarine;
    margin: 0;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.end-screen {
    font-size: 3em;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.question-box {
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.answers-box {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.answer {
    background-color: mintcream;
    border: 1.5px solid #000;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4em;
    transition: 0.3s;
    
}

.answer:hover {
    transition: 0.3s;
    background-color: grey;
    color: azure;
}

h1 {
    display: block;
    background-color: mintcream;
    position: absolute;
    top: 0;
    width: 100%;
}

.skip-btn {
    width: 100px;
    height: 25px;
    background-color: mintcream;
    border: 1.5px solid #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

.correct, .correct:hover {
    background-color: rgb(38, 150, 38);
}

.incorrect, .incorrect:hover {
    background-color: rgb(255, 0, 0);
}

.game-timer {
    position: absolute;
    top: 30px;
    font-size: 1.7em;
    background-color: #fff;
    padding:5px 80px;
    border: 2px solid #000;
}

span {
    font-size: 1.4em;
    margin: 5px;
    position: absolute;
    top: -5px;
}


.start-btn {
    font-size: 1.7em;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

.result {
    color: black;
    font-size: 35px;
}

.max-result {
    color: black;
    font-size: 35px;
}

.warning {
    color: red;
}

.restart {
   font-size: 1.7rem;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}